<h4>Average Rating</h4>
{{ avgRating | async }}

<h4>Reviews</h4>
<ul>
	<li *ngFor="let star of stars | async"><strong>User:</strong> {{ star.userEmail }}<strong> gave </strong>{{ star.movieId }} {{ star.value }} stars</li>
</ul>

<h4>Post your Review</h4>

<fieldset class="rating">
	<ng-container  *ngFor="let num of [5, 4, 3, 2, 1]">
	<!-- full star -->
		<input (click)="starHandler(num)" 
			[id]="'star'+num"
			[value]="num-0.5"
			name="rating" 
			type="radio" />
		<label class="full" [for]="'star'+num"></label>
		<!-- half star -->
		<input (click)="starHandler(num-0.5)" 
			[value]="num-0.5"
			[id]="'halfstar'+num" 
			name="rating" 
			type="radio"  />
		<label class="half" [for]="'halfstar'+num"></label>
	</ng-container>
</fieldset><br><br>

<button class="primary" mdl-button mdl-button-type="raised" mdl-ripple>Primary</button>
<button class="success" mdl-button mdl-button-type="raised" mdl-ripple>Success</button>
<button class="danger" mdl-button mdl-button-type="raised" mdl-ripple>Danger</button>
<button class="warning" mdl-button mdl-button-type="raised" mdl-ripple>Warning</button>
<button class="info" mdl-button mdl-button-type="raised" mdl-ripple>info</button>
<button class="dark" mdl-button mdl-button-type="raised" mdl-ripple>dark</button>
