<h4>Average Rating</h4>
{{ avgRating | async }}

<h4>Reviews</h4>

<div *ngFor="let star of stars | async">
	<h6 *ngIf="authService.user | async as user">{{ user.displayName }}</h6>
	<strong>gave</strong>
	{{ star.movieId }} {{ star.value }} stars
</div>

<h4>Post your Review</h4>

<fieldset class="rating">
	<ng-container  *ngFor="let num of [5, 4, 3, 2, 1]">
	<!-- full star -->
		<input (click)="starHandler(num)" 
			[id]="'star'+num"
			[value]="num-0.5"
			name="rating" 
			type="radio" />
		<label class="full" [for]="'star'+num"></label>
		<!-- half star -->
		<input (click)="starHandler(num-0.5)" 
			[value]="num-0.5"
			[id]="'halfstar'+num" 
			name="rating" 
			type="radio"  />
		<label class="half" [for]="'halfstar'+num"></label>
	</ng-container>
</fieldset><br><br>
