<div class="demo-container" mdl-shadow="2">
  	<mdl-layout mdl-layout-fixed-header mdl-layout-header-transparent>
      	<mdl-layout-header *ngIf="authService.user | async">
          	<mdl-layout-header-row>
				<mdl-layout-title>Angular</mdl-layout-title>
				<mdl-layout-spacer></mdl-layout-spacer>
              
				<!-- Navigation. We hide it in small screens. -->
				<nav class="mdl-navigation mdl-layout--large-screen-only" id="main-nav">
					<a class="mdl-navigation__link" routerLink="/home" routerLinkActive="active current">Home</a>
					<a class="mdl-navigation__link" routerLink="/movies" routerLinkActive="active current">Movies</a>
					<a class="mdl-navigation__link" routerLink="/posts" routerLinkActive="active current">Posts</a>
					<button *ngIf="authService.user | async as user" id="profile-btn" mdl-button #btn1="mdlButton" (click)="m1.toggle($event, btn1)" mdl-button-type="icon" mdl-ripple><img [src]="user.photoURL" width="100%"></button>
					<mdl-menu  #m1="mdlMenu" mdl-menu-position="bottom-right">
						<mdl-menu-item *ngIf="authService.user | async as user" mdl-ripple>
							<i class="fa fa-user" aria-hidden="true"></i> {{ user.displayName }}
						</mdl-menu-item>
						<mdl-menu-item *ngIf="authService.user | async as user" mdl-ripple routerLink="/profile">
							<i class="fa fa-cog" aria-hidden="true"></i> Profile
						</mdl-menu-item>
						<mdl-menu-item *ngIf="authService.user | async as user" mdl-ripple (click)="logout()">
							<i class="fa fa-sign-out" aria-hidden="true"></i> Logout
						</mdl-menu-item>
					</mdl-menu>
				</nav>
            	<mdl-textfield  type="search" [(ngModel)]="search" icon="search" id="search-field"></mdl-textfield>
        	</mdl-layout-header-row>
      	</mdl-layout-header>
      	<mdl-layout-drawer *ngIf="authService.user | async">
			<mdl-layout-title>Angular</mdl-layout-title>
			<nav class="mdl-navigation">
				<a class="mdl-navigation__link" routerLink="/home" routerLinkActive="active current">Home</a>
				<a class="mdl-navigation__link" routerLink="/Profile" routerLinkActive="active current">Profile</a>
				<a class="mdl-navigation__link" routerLink="/Service" routerLinkActive="active current">Service</a>
				<a class="mdl-navigation__link" routerLink="/" (click)="logout()" >Logout</a>
			</nav>
      	</mdl-layout-drawer>
		<mdl-layout-content>
			<router-outlet></router-outlet>
		</mdl-layout-content>
  	</mdl-layout>
</div>
