#profile-btn {
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

.mdl-layout__header {
    background-color: #fff;
    color: #111;
}

#main-nav a {
    color: #111;
    background-color: #fff;
    opacity: 1 !important;
    height: 60px !important;
    border-bottom:  3px solid #fff !important;
}

#main-nav a:hover, #main-nav a.active {
    border-bottom:  3px solid #111 !important;
}