.user-container {
    background-color: #fff;
    width: 60%;
    padding: 15px;
    border-radius: 4px;
    margin: 20px auto;
    
    img {
        width: 80%;
        border-radius: 8px;
    }

    mdl-textfield {
        width: 100%;
    }
}

/// Responsive
@media only screen and (max-width: 839px){
    .user-container {
        width: 95%;
    }

    img {
        width: 100%;
        border-radius: 2px;
    }
}