body {
    background: #E2E4E6;
    margin: 0;
    padding: 0;
}

/* Container */

.container {
    background: #fff;
    margin: 0 auto;
    width: 90%;
    padding: 0px 10px;
    border: 1px solid transparent;
}

/* Buttons & Text */

.primary {background-color: #007bff;color: #fff;}
.primary:hover {background-color: #0069d9;}
.text-primary {color: #007bff}

.success {background-color: #28a745;color: #fff;}
.success:hover {background-color: #218838;}
.text-success {color: #28a745}

.danger {background-color: #dc3545;color: #fff;}
.danger:hover {background-color: #c82333;}
.text-danger {color: #dc3545}

.warning {background-color: #ffc107;color: #fff;}
.warning:hover {background-color: #e0a800;}
.text-warning {color: #ffc107}

.info {background-color: #17a2b8;color: #fff;}
.info:hover {background-color: #138496;}
.text-info {color: #17a2b8}

.dark {background-color: #343a40;color: #fff;}
.dark:hover {background-color: #23272b;}

.mdl-layout__drawer-button {
    color: #111 !important;
}

.mdl-tooltip {
    background-color: #000 !important;
    border-radius: 4px;
}


.mdl-tooltip::before {
    content: '';
    position: absolute;
    left: 42%;
    top: -5px;
    clear: both;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
}

.mdl-button {
    text-transform: none;
}

.mdl-textfield__input {
    margin-top: 10px !important;
}

// .mdl-textfield--floating-label.is-focused .mdl-textfield__label {
//     color: #fff !important;
// }

// .mdl-textfield__label {
//     color: #999;
// }

// //Text field underLine
// .mdl-textfield__label::after {
//     background-color: #fff;
// }

.loading {
    width: 30px;
    height: 30px;
    border: 5px solid #5bc0de;
    position: fixed;
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
    border-radius: 50%;
}


.loading:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    background: #E2E4E6;
    top: 10px;
    left: -5px;
    animation: spin 1.2s infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}


@media only screen and (max-width: 1024px){
    .mdl-layout__drawer-button {
        color: #111 !important;
    }
}
