/* Todo Css */
.todo-container {
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #777;
    border-radius: 4px;
    padding-bottom: 5px;
}

h3 {
    text-align: center;
    margin: 0;
    padding: 30px 0;
    background-color: #01bbd4;
    color: #fff;
    border-radius: 4px;
}

.addItem {
    margin-top: 20px;
    width: 100%;
    position: relative;
    text-align: center;
    
    button {
        margin-top: -10px;
        margin-left: 20px;
    }
}

ul {
    list-style: none;
    margin-left: -40px;
    font-size: 19px;
    color: #333;
    margin-bottom: 0px;

    li {
        border-bottom: 1px solid #bfbfbf;
        background-color: #f1efef;
        padding: 10px 0;
        margin: 5px;
        padding-left: 25px;

        button {
            position: relative;
            float: right;
            margin-right: 5px;
            margin-top: -6px;
        }
    }

}