<!-- <h4 *ngIf="authService.user | async as user">Welcome {{ (authService.user | async)?.email }}!</h4>

<h3>This is home page</h3>

<div *ngIf="authService.user | async as user">
    <h1>hello you!</h1>
    <h3>Howdy, {{ user.displayName }}</h3>
    <img [src]="user.photoURL">
    <p>UID: {{ user.uid }}</p>
    <button mdl-button mdl-button-type="raised" mdl-colored mdl-ripple (click)="logout()" *ngIf="authService.user | async">
        Logout
    </button>
</div> -->

 <!-- Main Content Area -->
<div class="todo-container">
    <h3>Todo List</h3>
    <div class="addItem">
        <mdl-textfield id="todo-input" type="text" label="Todo" [(ngModel)]="todo" floating-label></mdl-textfield>
        <button mdl-button mdl-button-type="raised" mdl-colored="accent" mdl-ripple (click)="addTodo(todo)" [disabled]="!todo">
            Add Todo
        </button>
    </div>
    <ul>
        <li *ngFor="let todo of (todos$ | async)" [class.done]="todo.done">
            {{ todo.content }} 
            <button mdl-button  mdl-colored mdl-ripple (click)="updateTodoData(todo)" mdl-tooltip="Update">
                <i class="material-icons" style="color:#5cb85c;">update</i>
            </button>
            <button mdl-button  mdl-colored mdl-ripple (click)="deleteTodo(todo)" mdl-tooltip="Delete">
                <i class="material-icons" style="color:red;">delete</i>
            </button>
        </li>
    </ul>
</div>
